version: '3'
services:
  gofiber:
    container_name: go-fiber
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        GO_GROUP: '${GO_GROUP:-1000}'
        GO_VERSION: '${GO_VERSION:-1.19}'
        ARCH: 'arm64'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '9090:${APP_PORT:-9090}'
    environment:
      GO_PATH: '${GO_PATH:-/usr/local/go}'
      GO_USER: '${GO_USER:-1000}'
      TIME_ZONE: '${TIME_ZONE}'
    volumes:
      - '.:/home/gofiber'
    networks:
      - go-web
    depends_on:
      - redis
      - pgsql
  pgsql:
    container_name: go-pgsql
    image: 'postgres:14'
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      PGPASSWORD: '${DB_PASSWORD:-secret}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - 'go-pgsql:/var/lib/postgresql/data'
    networks:
      - go-web
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}" ]
      retries: 3
      timeout: 5s
  redis:
    container_name: go-redis
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'go-redis:/data'
    networks:
      - go-web
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      retries: 3
      timeout: 5s

networks:
  go-web:
    driver: bridge
volumes:
  go-pgsql:
    driver: local
  go-redis:
    driver: local